.ui-jqgrid .ui-jqgrid-htable th div{
    top:7px;
    height:28px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    font-size:12px;
}
.ui-icon-triangle-1-s {
    background-position: -65px -16px;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    padding: .4em .2em .4em .3em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    font-size:13px;
    width: 100%;
}
.ui-jqgrid tr.jqgrow td {
    height:30px;
    border-bottom-style: none;
}

/* IE8 got no last:child support, those users will see a slight thick right border */
.ui-jqgrid tr.jqgrow td:last-child {
    border-right-style: none;
}

.ui-jqgrid .ui-pg-table td {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    height: 25px;
}

.ui-jqgrid .ui-jqgrid-pager {
    height:28px;
}

/* remove color opacity in alt row */
.ui-widget-content {
    color: inherit;
}

.ui-jqdialog{
    padding:0em;
    min-width:450px;
    z-index: 10000;
    box-shadow: -8px 8px 30px #888888;
}

.ui-jqdialog-title {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    padding-left:3px;
    padding-top:1px;
}

.ui-jqdialog-titlebar{
    padding: .5em;
    border:0px;
    font-size:13px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ui-jqdialog-content .EditTable {
    padding:0px 10px 0px 10px;
    font-size: 11px;
}

.ui-jqdialog-content .CaptionTD{
    text-align: left;
    padding:0px;
    text-shadow: 0 1px 0 rgba(212, 228, 233, 0.9)
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 1px;
}

.ui-jqdialog-content input.FormElement {
    height: 15px;
}

.fm-button {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* popup form nav key - fine tuning */
.ui-icon-triangle-1-e {
    background-position: -33px -16px;
}

/* fixing close icon out of position */
.ui-dialog .ui-dialog-titlebar-close span {
    margin: inherit;
}
.ui-button-icon-only .ui-icon {
    left: inherit;
}

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div{
    height: 25px !important;
}
.ui-jqgrid-bdiv > div > table td input, ui-jqgrid .ui-jqgrid-view button {
    /* height: 100% !important; */
    min-height: 30px;
    left: -5px;
    width: 105%;
}
.ui-jqgrid-bdiv > div > table td textarea{
    height: 100% !important;  /* comment out this line for textarea to expand to full height */
    position: relative;
    left: -5px;
    top: 1px;
    border:#ddd solid 1px;
    min-height:30px;
}
.ui-jqgrid-bdiv > div > table td select{
    width: 110%;
    height: 100% !important;
    min-height: 30px !important;
    background:#fff;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius: 0px;
    -webkit-appearance:none;outline: 1px inset #ddd; outline-offset:-1px;border: 0;
    position: relative;
    left: -5px;
}
.ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar div{
    top:1px;
    padding: 0px !important;
    color:#646464;
    margin: 0px;
}

.ui-search-input input, .ui-search-input select{
    height: 23px;
}
